body {
    section#offer {
        margin-top: 5vw;
        display: flex;
        flex-wrap: wrap;
        div {
            min-width: 250px;
            flex: 1;
            // flex-grow: 1;
            // max-width: 30vw;
            border: 1px solid #ccc;
            padding: 2em;
            margin: 1em;
            text-align: center;
            flex-grow: 1;
            svg {
                fill: darkgray;
            }
            &:hover {
                svg {
                    fill: black;
                }
                div {
                    color: black;
                }
            }
            div {
                color: darkgray;
                font-size: 1.5vw;
                border: 0;
            }
        }
        button {
            font: {
                size: 2vw;
            }
            padding: .2vw;
            width: 100%;
            color: darkgray;
            background: white;
            border: 1px solid darkgray;
            &:hover {
                background-color: black;
                color: white;
            } 
        }
    }
}