body {
    div.parallax {
        background-image: url("../img/7.jpg");
        filter: grayscale(100%);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 20vw;
        margin: 3em 0;
    }
}
