.container {
  max-width: 80vw;
  height: 20vh;
  margin: 0 auto;
  ul {
    list-style: none;
    padding: 0;
  
    li {
      display: inline-flex;
      list-style: none;
      padding: 1vw;
      font-size: 2.5vw;
      &:nth-of-type(1) {
        border-right: 0.1vw solid black;
      }
      &:hover {
        cursor: pointer;
        background: darkgray;
      }

      a {
        font-size: 2.5vw;        text-decoration: none;
        color: darkgray;
        margin: 2vw;
        transition: all .3s ease-in-out;
        border-bottom: 1px solid transparent;
  
        &:hover {
          color: white;
          background: slateblue;
        }
      
      }
    }
  }
}

.nav .active a {
  color: slateblue;
  border-bottom: 1px solid slateblue;

  &:hover {
    border-color: transparent;
    background: darkgray;
    color: white;
  }
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
  margin-top: 3vw;
  line-height: 3vw;
  padding-bottom: 2vh;
}
