* {
  margin: 0;
  padding: 0;
}

.dropDown {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 1s;
  transition: all 1s;
  position: relative;
  right: 5vw;
  margin-top: 1.5vw;
  width: 12vw;
}

.dropDown a {
  background: white;
  color: black;
  text-decoration: none;
  padding: 1vw 1vw;
}

.dropDown a:hover {
  color: white;
  background: rgba(44, 44, 47, 0.5);
  border-bottom: 2px solid red;
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(44, 44, 47, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  height: 5.2vw;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0 2vw;
  color: white;
  font-size: 1.5vw;
}

nav ul span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

nav ul li {
  width: 12vw;
  padding: 1.8vw 3vw;
  text-align: center;
}

nav ul li:hover {
  cursor: pointer;
  background: white;
  color: black;
}

section:nth-of-type(1) {
  width: 100%;
  height: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  margin-bottom: 5vw;
}

section:nth-of-type(1) img {
  width: 100%;
  height: 50vw;
  -webkit-transition: all 1s;
  transition: all 1s;
}

section:nth-of-type(1) i {
  font-size: 5vw !important;
  color: white;
  position: absolute;
  padding: 23.5vw 3vw;
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: 1;
}

section:nth-of-type(1) i:hover {
  cursor: pointer;
  color: black;
}

section:nth-of-type(1) i:nth-of-type(2) {
  right: 0;
}

section:nth-of-type(2) {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section:nth-of-type(2) h2 {
  margin: 2.5vw;
}

section:nth-of-type(2) p {
  font-size: 1.4vw;
  text-align: center;
  margin-bottom: 1vw;
  font-style: italic;
}

section:nth-of-type(2) p:nth-of-type(2) {
  padding-left: 12vw;
  padding-right: 12vw;
}

section:nth-of-type(2) div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 75%;
  margin: 2vw auto;
}

section:nth-of-type(2) div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32%;
  height: 20vw;
  margin-bottom: 5vw;
}

section:nth-of-type(2) div div li {
  font-weight: bold;
  list-style-type: none;
  text-align: center;
  margin-bottom: 2.5vw;
}

section:nth-of-type(2) div div img {
  border-radius: 50%;
  width: 75%;
}

section:nth-of-type(2) div div img:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 20px 10px gray;
          box-shadow: 0 0 20px 10px gray;
}

section:nth-of-type(2) div div ul {
  display: none;
}

section:nth-of-type(2) div div ul a {
  text-decoration: none;
  text-align: center;
  margin-top: 1.5vw;
}

section:nth-of-type(2) div div .imgMenu {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body section#offer {
  margin-top: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body section#offer div {
  min-width: 250px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid #ccc;
  padding: 2em;
  margin: 1em;
  text-align: center;
  -ms-flex-positive: 1;
      flex-grow: 1;
}

body section#offer div svg {
  fill: darkgray;
}

body section#offer div:hover svg {
  fill: black;
}

body section#offer div:hover div {
  color: black;
}

body section#offer div div {
  color: darkgray;
  font-size: 1.5vw;
  border: 0;
}

body section#offer button {
  font-size: 2vw;
  padding: .2vw;
  width: 100%;
  color: darkgray;
  background: white;
  border: 1px solid darkgray;
}

body section#offer button:hover {
  background-color: black;
  color: white;
}

section.info_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100vw;
  padding: 3vw;
  background-color: black;
}

section.info_contact div.item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex: 1 50%;
      flex: 1 50%;
}

section.info_contact div.form h2 {
  text-align: center;
  margin-bottom: 2vw;
  color: darkgrey;
}

section.info_contact div.form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.info_contact div.form form input[type=text] {
  margin-bottom: 5vw;
  width: 90%;
  padding: 1vw 2vw;
  border: 1px solid darkgray;
  font-size: 1.5vw;
}

section.info_contact div.form form textarea {
  width: 90%;
  height: 20vw;
  margin-bottom: 5vw;
  border: 1px solid darkgray;
  font-size: 1.5vw;
  padding: 2vw;
}

section.info_contact div.form form button {
  padding: .5vw;
  font-size: 2vw;
  width: 90%;
  border: 1px solid lightgray;
  background-color: white;
}

section.info_contact div.form form button:hover {
  background-color: lightgray;
}

section.info_contact div#map {
  z-index: 1;
  height: auto;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

body div.parallax {
  background-image: url("../img/7.jpg");
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vw;
  margin: 3em 0;
}

body footer {
  background: black;
  height: auto;
  padding: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer i.up {
  width: 4em;
  height: 4em;
  border: solid rgba(255, 255, 255, 0.479);
  border-width: 1px 1px 0 0;
  z-index: 5;
  color: #ccc;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

body footer i.up:hover {
  cursor: pointer;
  margin: red;
}

body footer p {
  background: black;
  color: white;
}

.container {
  padding-top: 6vh;
  max-width: 80vw;
  height: 60vh;
  margin: 0 auto;
}

.container ul {
  list-style: none;
  padding: 0;
}

.container ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.container ul li a {
  text-decoration: none;
  color: darkgray;
  padding: 0 2vw;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-bottom: 1px solid transparent;
}

.container ul li a:hover {
  color: white;
  background: slateblue;
}

.nav .active a {
  color: slateblue;
  border-bottom: 1px solid slateblue;
}

.nav .active a:hover {
  border-color: transparent;
  background: darkgray;
  color: white;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
  margin-top: 3vw;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=app.css.map */